# Python caches
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# YOLO/Ultralytics outputs
runs/
*.log

# Datasets - Broad catch for all dataset folders
final_dataset/
dataset*/
dataset#2/
data.yaml

# Models - Ignore the entire folder and any loose weights
models/
*.pt
*.onnx
*.engine

# OS files
.DS_Store
Thumbs.db
.vscode/